
html,body{
	height:100%
}
img{
	height: 100%;
}
.main-wrapper{
	position:relative;
	top:50px;
}
.content-row{
height:70%;
}
.side-row{
	height:33.3%;
	position:relative;
}


.center-div{
	height:100%;
}

.logo-row{
	height:80px;
	background-color:white;	
	padding-top:5px;
}

.logo-img{
	top: 5px;
	height: 70px;
}

.content-row{
    display: table;
}

.full-height-div{
    float: none;
    display: table-cell;
    vertical-align: top;
}

.side-row img{
	cursor: pointer;
}
.side-row img:hover +.caption {
    transform:scale(1.5);
	-ms-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
}

.side-row img:hover {
    transform:scale(1.5);
	-ms-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
}

.register-font{
	font-size:Large;
	color:red;
	cursor: pointer;
}

.register-font:hover{
	transform:scale(1.5);
	-ms-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
}

.nav a {
	font-size:large;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
	cursor: pointer;
}

.caption p{
    font-weight:bold;
	color:white;
	font-size:large;
}

.top-title {
    position: absolute;
    top: 10%;  
    width: 100%;
	text-align:center;
}

.top-title h1{
    font-weight:bold;
	color:white;
}

.logo{
	position:relative;
}
.logo-text{
	position: absolute;
	left:40%;
    top: 10%;  
    width: 100%;
	text-align:left;
	color:gray;
}